.Dropdown__container {
  height: 40px;
}

.Dropdown {
  position: relative;
  border: 1px solid #373841;
  border-radius: 12px;
  overflow: hidden;
  transition: border-color 0.15s linear, background-color 0.15s linear;
}

.Dropdown_isOpen {
  background-color: #1e1f2a;
  transition: height 0.15s linear;
  z-index: 10;
}

.Dropdown__caretIcon {
  transition: transform 0.15s linear;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 16px;
}

.Dropdown__caretIcon_isOpen {
  transform: rotate(-180deg);
}
