.SelectItem {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.SelectItem:not(:only-child) {
  cursor: pointer;

  // caretIcon width and right
  padding: 0 11px + 10px + 8px 0 10px;
}

.SelectItem:not(:only-child):hover {
  background-color: rgb(255 255 255 / 10%);
}

.SelectItem:not(:only-child):active {
  transition: background-color 0.1s linear;
  background-color: rgb(255 255 255 / 15%);
}
