$col-base-black: #000;
$col-base-white: #fff;

$col-background-primary: #0f1017;
$col-background-secondary: #353742;
$col-background-sidebarLink: #8e91a5;
$col-background-card: #1e1f2b;

$col-background-opacityBlack: #36373d;
$col-background-opacityBlackSecondary: #25262a;

$col-text-primary: #000;
$col-text-secondary: #fff;
$col-text-gray: #8e91a5;
$col-text-green: #1eff78;
$col-text-red: #ff495f;

$col-button-primary: #1e1f2b;
$col-button-gradient: linear-gradient(
  95.5deg,
  #27e65c 0.5%,
  #587bff 50.22%,
  #b518ff 97.9%
);
