.Pair {
  display: flex;
  align-items: center;
}

.Pair__text {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

.Pair__icon_second {
  border-radius: 50%;
  margin-left: -11px;
}

.Pair__icon {
  border-radius: 50%;
}
.Pair__icons {
  display: flex;
  margin-right: 11px;
}
