.BaseLayout {
  padding: 0 80px;
  max-width: 1520px + 160px;
  margin-right: auto;
  margin-left: auto;
}

.BaseLayout__content {
  padding: 16px 0 100px;
}

@media (max-width: 1023px) {
  .BaseLayout {
    padding: 0 48px;
  }

  .BaseLayout__content {
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .BaseLayout {
    padding: 0 16px;
  }

  .BaseLayout__content {
    padding-bottom: 48px;
  }
}
