@import '~payload/scss';

.login__brand {
  svg {
    width: base(10);
    height: auto;
  }
}

.login form {
  display: none;
}

.apple-login {
  display: flex;
  justify-content: center;
}

.thumbnail img, .thumbnail svg {
  object-fit: contain !important;
}
