.sale__exchange {
  position: relative;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sale__exchange-info {
  display: flex;
  justify-content: space-between;
  margin: 0 -5px;
}

.sale__exchange-item {
  padding: 0 5px;
  margin-bottom: 0;
}

.sale__exchange-text {
  color: #fff;
  font: 600 14px 'Work Sans', sans-serif;
}

.sale__exchange-title {
  color: #8e91a5;
  font-size: 13px;
  font-weight: 500;
}

.sale__field {
  margin-bottom: 17px;
  background: #0f1017;
  border-radius: 12px;
  padding: 11px 18px;
  min-height: 70px;
  display: flex;
  width: 100%;
  align-items: center;
}

.sale__field-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -5px;
  width: 100%;
}

.sale__field-select {
  padding: 0 5px;
  flex: 0 0 auto;
}

.sale__input-wrapper {
  padding: 0 5px;
}

.sale__link-info {
  cursor: pointer;
  display: inline-block;
  padding: 0px 6px;
  color: #fff;
  border-radius: 12px;
  width: 40px;
  height: 18px;
  background: linear-gradient(110deg, #27e65c 0.5%, #587bff 50.22%, #b518ff 97.9%);
}

.sale__input {
  display: block;
  border: 0;
  text-align: right;
  background: none;
  color: #fff;
  font: 700 18px/1.2 'Work Sans', sans-serif;
  padding: 0;
  outline: none;
  width: 100%;
}

.sale__arrow-wrapper {
  cursor: pointer;
  position: absolute;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
  background: #1e1f2a;
  border-radius: 50%;
  padding: 0;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale__swap_arrow {
  position: relative;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  left: -1px;
}

.sale__arrow:before {
  content: '';
  display: block;
  width: 2px;
  height: 15px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sale__arrow:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sale__rax {
  display: flex;
  align-items: center;
  color: #fff;
  font: 700 18px/1 'Work Sans', sans-serif;
}

.sale__rax-img {
  flex: 0 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 7px;
}

.sale__btn {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(
    95.5deg,
    #27e65c 0.5%,
    #587bff 50.22%,
    #b518ff 97.9%
  );
  border-radius: 15px;
  color: #fff;
  font: 700 16px/1.2 'Work Sans', sans-serif;
  padding: 15px;
  margin-bottom: 14px;
}

.sale__btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.sale__agreement {
  display: flex;
  justify-content: center;
}

.sale__checkbox {
  display: block;
  margin-right: 10px;
  cursor: pointer;
}

.sale__checkbox-input {
  display: none;
}

.sale__checkbox-span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background: #0f1017;
  margin-top: -3px;
  border: 1px solid #9c34ff;
}

.sale__checkbox-span:before {
  content: '';
  display: block;
  position: absolute;
  left: 6px;
  top: 3px;
  width: 7px;
  height: 10px;
  border-right: 3px solid #35c68c;
  border-bottom: 3px solid #35c68c;
  transform: rotate(45deg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.sale__checkbox-input:checked
  + .sale__checkbox-span:before {
  opacity: 1;
  visibility: visible;
}

.sale__btn-description {
  color: #fff;
  font: 400 10px/1.5 'Work Sans', sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.sale__wallets {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -7px;
}

.sale__wallets-item {
  padding: 0 7px;
  margin-bottom: 20px;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.select__select {
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 9px;
}

.select__select_arrow {
  background-repeat: no-repeat;
  height: 7px;
  width: 11px;
  background-size: contain;
  display: block;
}

.select__sub_select {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.sale__button {
  margin-bottom: 17px;
}

.sale__exchange_body_container {
  position: relative;
}

.sale__exchange_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.sale__exchange_header_heading {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}

.sale__exchange_header_slippage {
  padding: 6px 5px 6px 10px;
  max-width: 130px;
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #8e91a5;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.sale__exchange_header_slippage_subtitle {
  color: #fff;
}

.sale__exchange_header_slippage_icon {
  width: 17px;
  height: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.sale__exchange_header_logo_title {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #8e91a5;
}

.sale__exchange_header_logo {
  display: flex;
  flex-direction: column;
}

.sale__exchange_header_logo_chain {
  font-size: 14px;
  font-weight: 600;
  height: 14px;
}

.sale__exchange_header_logo_chain * {
  display: inline;
  vertical-align: middle;
  margin-right: 6px;
}

body {
  background-color: rgba(13, 17, 28, 0.89);
}

.headline {
  padding: 20px;
}

.modal-select-token {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(13, 17, 28, 0.72);
}

.select-token {
  margin: auto;
  background: #1e1f2b;
  border: 1px solid #16161e;
  box-shadow: rgb(0 0 0 / 24%) 12px 16px 24px,
    rgb(0 0 0 / 24%) 12px 8px 12px,
    rgb(0 0 0 / 32%) 4px 4px 8px;
  padding: 0px;
  width: 50vw;
  overflow: hidden auto;
  max-width: 420px;
  max-height: 60vh;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.name {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.headline-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-field {
  width: 100%;
  height: 46px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
}

.token-search-design {
  background: url('https://app.uniswap.org/static/media/search.2f68ccda.svg')
    12px center / 20px 20px no-repeat scroll #0f1017;
  position: relative;
  display: flex;
  padding: 0 16px 0 40px;
  height: 46px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  outline: none;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  border: 1px solid #0d0e13;
  appearance: none;
  font-size: 16px;
  transition: border 100ms ease 0s;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
  height: 40px;
}

.list-of-tokens {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 35px;
  overflow-y: auto;
  flex-grow: 1;
}

.token-in-list {
  height: 100%;
  overflow: hidden;
}

.logo-of-token {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: no-repeat;
  background-size: contain;
}

.token-item {
  padding: 4px 20px;
  height: 56px;
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto minmax(
      0px,
      72px
    );
  gap: 16px;
  cursor: pointer;
  align-items: center;
}

.token-item:hover {
  background-color: rgba(184, 192, 220, 0.08);
}

.token-item-text-wrapper {
  display: grid;
  grid-auto-rows: auto;
}

.token-item-text-title {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.token-item-text-subtitle {
  font-weight: 300;
  font-size: 12px;
  color: rgb(93, 103, 133);
}

.token-item-checkbox {
  justify-self: flex-end;
  margin-right: 5px;
}

.token-item-checkbox svg {
  height: 20px;
  width: 20px;
  margin-left: 4px;
  color: rgb(76, 130, 251);
}
