.TableRowLink {
  display: grid;
  padding: 12px 24px;
  align-items: center;
}

.TableRowLink:hover {
  background-color: rgb(255 255 255 / 4%);
}

.TableRowLink:active {
  transition: background-color 0.1s linear;
  background-color: rgb(255 255 255 / 8%);
}
