.Header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding: 16px 0;
  justify-content: space-between;
}

.Header__nav {
  display: flex;
  gap: 41px;
}

.Header__navLink {
  display: none;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}
.Header__navLinkText {
  white-space: nowrap;
}

.Header__navLink_active::before {
  display: block;
  content: '';
  background: #1E1F2A;
  border-radius: 12px;
  position: absolute;
  width: calc(100% + 32px);
  height: calc(100% + 28px);
  left: -18px;
  top: -14px;
  z-index: -1;
}
.Header__navLink_active {
  display: flex;
  margin-right: 18px;
}

.Header__wallet {
  width: 340px;
  justify-content: space-between;
  display: none;
}

@media (min-width: 1120px) {
  .Header__navLink {
    display: flex;
  }
  .Header {
    padding: 0;
    gap: 24px;
  }
  .Header__nav {
    flex-grow: 1;
    justify-content: center;
  }
  .Header__navLink_active {
    margin-right: 0;
  }
  .Header__wallet {
    display: flex;
  }
}

.Header__logo {
  width: 340px;
}

@media (min-width: 768px) {
  .Header {
    margin-bottom: 24px;
  }
}


@media (min-width: 1024px) {
  .Header {
    margin-bottom: 32px;
  }
}