@import './vars';

:export {
  // FONTS
  fontFamilyDefault: $font-family-default;
  fontFamilyWorkSans: $font-family-work-sans;

  fontWeight300: $font-weight-300;
  fontWeightNormal: $font-weight-normal;
  fontWeight500: $font-weight-500;
  fontWeight600: $font-weight-600;
  fontWeightBold: $font-weight-bold;

  fontSize10: $font-size-10;
  fontSize12: $font-size-12;
  fontSize13: $font-size-13;
  fontSize14: $font-size-14;
  fontSize16: $font-size-16;
  fontSize18: $font-size-18;
  fontSize24: $font-size-24;
  fontSize32: $font-size-32;
  fontSize48: $font-size-48;
  fontSize64: $font-size-64;

  lineHeight16: $line-height-16;
  lineHeight18: $line-height-18;
  lineHeight20: $line-height-20;
  lineHeight24: $line-height-24;
  lineHeight28: $line-height-28;
  lineHeight32: $line-height-32;
  lineHeight40: $line-height-40;
  lineHeight56: $line-height-56;
  lineHeight86: $line-height-86;

  // COLORS
  colBaseBlack: $col-base-black;
  colBaseWhite: $col-base-white;

  colBackgroundPrimary: $col-background-primary;
  colBackgroundSecondary: $col-background-secondary;
  colBackgroundSidebarLink: $col-background-sidebarLink;
  colBackgroundCard: $col-background-card;
  colBackgroundOpacityBlack: $col-background-opacityBlack;
  colBackgroundOpacityBlackSecondary: $col-background-opacityBlackSecondary;

  colTextPrimary: $col-text-primary;
  colTextSecondary: $col-text-secondary;
  colTextGray: $col-text-gray;
  colTextGreen: $col-text-green;
  colTextRed: $col-text-red;

  colButtonPrimary: $col-button-primary;
  colButtonGradient: $col-button-gradient;
}
