.HeaderCell {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  color: #8e91a5;
}

.HeaderCell_hasSort {
  cursor: pointer;
}

.HeaderCell__sort::before,
.HeaderCell__sort::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 6px;
}

.HeaderCell__sort::before {
  border-bottom: 5px solid #8e91a5;
  margin-bottom: 5px;
}

.HeaderCell__sort_isAscending::before {
  border-bottom: 5px solid #fff;
}

.HeaderCell__sort::after {
  border-top: 5px solid #8e91a5;
}

.HeaderCell__sort_isDescending::after {
  border-top: 5px solid #fff;
}
