.Token {
  display: flex;
  align-items: center;
}

.Token__text {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

.Token__icon {
  margin-right: 11px;
}

.Token__platform {
  margin-left: 6px;
  height: 16px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  padding: 0 4.72px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
