.Select__container {
  height: 30px;
}

.Select {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgb(39 39 45);
}

.Select_isOpen {
  transition: height 0.15s linear;
}

.Select__caretIcon {
  transition: transform 0.15s linear;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 12px;
}

.Select__caretIcon_isOpen {
  transform: rotate(-180deg);
}
